.container.margin-top50
  %h2.u-margin-bottom-md.text-center
    Join us

  .grid-layout.grid-layout3

    = link_to "/compare/single-application-ci/", class: "tile-resource grid-item" do
      .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-webcast.png');" }
      .tile-info
        %h4.tile-title
          Mastering continuous software development webcast
        %p.tile-description
          Learn how GitLab’s built-in CI/CD feature will allow you to apply continuous software development without the burden of complicated integrations and plugin maintenance.
        %p.tile-link
          Watch now
          %i.fas.fa-arrow-right

      = link_to "/compare/jenkins-alternative/", class: "tile-resource grid-item" do
        .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-webcast.png');" }
        .tile-info
          %h4.tile-title
            GitLab CI/CD advantages over Jenkins demo
          %p.tile-description
            See the advantages of GitLab built-in CI/CD over Jenkins CI plugin solution.
          %p.tile-link
            Watch now
            %i.fas.fa-arrow-right

      = link_to "/webcast/gitlab-premium-cicd/", class: "tile-resource grid-item" do
        .tile-background-container{ style: "background-image: url('/images/feature-thumbs/feature-thumb-webcast.png');" }
        .tile-info
          %h4.tile-title
            Optimizing growth and performance with GitLab Premium 
          %p.tile-description
            Join us on Dec 18 to see how GitLab premium can help uplevel your CI/CD experience with improved pipeline performance, local package registries, and enhanced Kubernetes interaction.
          %p.tile-link
            Register now
            %i.fas.fa-arrow-right
